body {
    font-family: 'Nunito Sans', sans-serif;

    /* Fixed navbar to the top */
    padding-top: 71px;
}

.bg-martom {
    background-color: rgb(54, 74, 153);
}
/* change the brand and text color */
.bg-martom .navbar-brand,
.bg-martom .navbar-text {
    color: rgba(255,255,255,.8);
}
/* change the link color */
.bg-martom .navbar-nav .nav-link {
    color: rgba(255,255,255,.5);
}
/* change the color of active or hovered links */
.bg-martom .nav-item.active .nav-link,
.bg-martom .nav-item:hover .nav-link {
    color: #ffffff;
}

.navbar-brand,
.navbar-nav li a {
    line-height: 71px;
    height: 71px;
    padding-top: 0;
}

.dropdown-menu-martom {
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
    text-align: center;
    border: 1px solid #ffffff;
    border-radius: 0;
    min-width: 142px;
    background-color: rgb(195, 171, 132);
}

.nav-link {
    width: 70px;
}

.nav-link:hover {
    background-color: rgb(115, 129, 184);
}

.nav-link-usermenu {
    background-color: rgb(195, 171, 132);
    width: 70px;
}

.nav-link-usermenu:hover {
    background-color: rgb(213, 196, 169);
}

.dropdown-item {
    color: white;
    font-size: 18px;
}

.dropdown-item:hover {
    color: white;
    background-color: rgb(213, 196, 169);
}

h2 {
    color: rgb(54, 74, 153);
    margin-bottom: 0;
    font-size: 24px;
    text-transform: uppercase;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

hr.sectionDivider {
    margin: 0 0!important;
    background-color: rgb(241, 242, 244);
}

.btn-martom {
    background-color: rgb(54, 74, 153);
    cursor: pointer;
    height: 50px;
    padding: 0;
    margin: 0;
    border-radius: 0;

    color: white;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
}

.btn-martom:hover {
    color: #dedede;
}

.btn-martom-secondary:hover {
    color: #3c3c3c;
}

.btn-martom-secondary {
    background-color: rgb(241, 242, 244);
    cursor: pointer;
    height: 50px;
    padding: 0px 2em;
    margin: 0;
    border-radius: 0;

    color: rgb(54, 74, 153);
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
}

.kategoria-dropdown-btn {
    width: 30px;
    height: 30px;
    background-color: rgb(54, 74, 153);
    border-radius: 0;
    text-align: center;
    padding: 0;
    color: white;
}

.colGridPadding {
    padding: 0 1px 1px;
}

.searchKolekcjaItems {
    width: 300px;
    height: 30px;
    max-width: calc(100% - 130px);
    flex-wrap: nowrap;
}

.searchFormCustomHeight {
    height: 30px;
    padding: 0px 10px;
    box-sizing: border-box;
    font-size: 14px;
    border-radius: 0px;
    border-width: 1px 0 0 1px;
    background-color: rgb(241, 242, 244);
}

.searchBtn {
    width: 30px;
    height: 30px;
    border-radius: 0;
    text-align: center;
    padding: 0;
    color: white;
    background-color: rgb(195, 171, 132);
    line-height: 2;
}

.itemTile {
    height: 200px;
    background-color: rgb(241, 242, 244);
    cursor: pointer;
}

.itemTile .topTile {
    height: 125px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.itemTile .bottomTile {
    height: 75px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.itemTile .icon {
    margin-top: 40px;
    display: inline-block;
    color: rgb(160, 166, 195);
    fill: rgb(54, 74, 153);
    height: 81px; width: 68px;
    user-select: none;
    transition: unset;
}

.itemTile .title {
    margin: 0;
    padding: 0 20px;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    color: rgb(54, 74, 153);
}