body {
    font-family: 'Nunito Sans', sans-serif;

    /* Fixed navbar to the top */
    padding-top: 71px;
}

.bg-martom {
    background-color: rgb(54, 74, 153);
}
/* change the brand and text color */
.bg-martom .navbar-brand,
.bg-martom .navbar-text {
    color: rgba(255,255,255,.8);
}
/* change the link color */
.bg-martom .navbar-nav .nav-link {
    color: rgba(255,255,255,.5);
}
/* change the color of active or hovered links */
.bg-martom .nav-item.active .nav-link,
.bg-martom .nav-item:hover .nav-link {
    color: #ffffff;
}

.navbar-brand,
.navbar-nav li a {
    line-height: 70px;
    height: 70px;
    padding-top: 0;
}

.dropdown-menu-martom {
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
    text-align: center;
    border: 1px solid #ffffff;
    border-radius: 0;
    min-width: 142px;
    background-color: rgb(195, 171, 132);
}

.nav-link {
    height: 70px; width: 70px;
}

.nav-link svg {
    display: inline-block;
    color: rgb(255, 255, 255);
    fill: currentcolor;
    height: 70px; width: 12px;
    user-select: none;
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}

.nav-link:hover {
    background-color: rgb(115, 129, 184);
}

.nav-link-usermenu {
    background-color: rgb(195, 171, 132);
    width: 70px;
}

.nav-link-usermenu:hover {
    background-color: rgb(213, 196, 169);
}

.dropdown-item {
    color: white;
    font-size: 18px;
}

.dropdown-item:hover {
    color: white;
    background-color: rgb(213, 196, 169);
}

h2 {
    color: rgb(54, 74, 153);
    margin-bottom: 0;
    font-size: 24px;
    text-transform: uppercase;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

hr.sectionDivider {
    margin: 0 0 -1px;
    background-color: rgb(241, 242, 244);
    z-index: 2;
}

.itemTile-sm {
    background-color: rgb(54, 74, 153);
    cursor: pointer;
    height: 50px;
    padding: 0;
    margin: 0;
    border-radius: 0;
}

.itemTile-sm.title {
    color: white;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
}

.itemTile-sm.title:hover {
    color: #dedede;
}

.itemTile-secondary-sm {
    background-color: rgb(241, 242, 244);
    cursor: pointer;
    height: 50px;
    padding: 0;
    margin: 0;
    border-radius: 0;
}

.itemTile-secondary-sm.title {
    color: rgb(54, 74, 153);
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
}

.itemTile-secondary-sm.title:hover {
    color: #3c3c3c;
}

.section-dropdown-btn {
    width: 30px;
    height: 30px;
    background-color: rgb(54, 74, 153);
    border-radius: 0;
    text-align: center;
    padding: 0;
    color: white;
}

.colGridPadding {
    padding: 1px
}

.kolekcja-input-group {
    width: 300px;
    height: 30px;
    max-width: calc(100% - 130px);
    flex-wrap: nowrap;
}

.search-form {
    height: 30px;
    padding: 0px 10px;
    box-sizing: border-box;
    font-size: 14px;
    border-radius: 0px;
    border-width: 1px 0 0 1px;
    background-color: rgb(241, 242, 244);
}

.search-btn-close {
    width: 30px;
    height: 30px;
    border-radius: 0;
    text-align: center;
    padding: 0;
    color: white;
    background-color: rgb(195, 171, 132);
    line-height: 2;
}

.itemTile-md {
    height: 200px;
    background-color: rgb(241, 242, 244);
    cursor: pointer;
}

.itemTile-md .topTile {
    height: 125px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.itemTile-md .bottomTile {
    height: 75px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.itemTile-md .icon {
    margin-top: 40px;
    display: inline-block;
    color: rgb(160, 166, 195);
    fill: rgb(54, 74, 153);
    height: 81px; width: 68px;
    user-select: none;
    transition: unset;
}

.itemTile-md .title {
    margin: 0;
    padding: 0 20px;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    color: rgb(54, 74, 153);
}

.itemTile-lg {
    cursor: pointer;
    border: 1px solid rgb(204, 208, 226);
}

.itemTile-lg .topTile {
    height: 325px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(204, 208, 226);
}

.itemTile-lg .icon {
    max-width: 155px;
    max-height: 213px;
    width: 155px;
    height: 213px;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: flex-start;
}

.itemTile-lg .iconcontainer {
    padding-top: 30px;
}

.itemTile-lg .icon img {
    max-width: 100%;
    max-height: 100%;
    position: absolute;
}

.itemTile-lg .title {
    margin-top: 30px;
    color: rgb(73, 73, 72);
    font-size: 14px;
}

.itemTile-lg .bottomTile {
    background-color: rgb(241, 242, 244);
    height: 94px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bottomTile .buttonContainer {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.bottomTile .titleContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bottomTile .priceDescription {
    width: inherit;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.bottomTile p.titleLabel {
    margin: 0;
    padding-left: 8px;
    font-size: 14px;
    color: rgb(160, 166, 195);
}

.bottomTile p.priceLabel{
    color: rgb(73, 73, 72);
    font-size: 18px;
}

.info-popup-btn {
    height: 17px; width: 17px;
    max-height: 17px; max-width: 17px;
    padding: 0;
    margin: 0;
    border: 1px solid rgb(204, 208, 226);
    background-color: rgb(241, 242, 244);
    border-radius: 50%;
    box-sizing: content-box;
    cursor: pointer;
    line-height: 0;
}

.info-popup-btn svg {
    color: rgb(54, 74, 153);
    fill: currentcolor;
    height: 17px; width: 1px;
    user-select: none;
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;"
}