.navbar-martom {
    background-color: rgb(54, 74, 153);
}
/* change the brand and text color */
.navbar-martom .navbar-brand,
.navbar-martom .navbar-text {
    color: rgba(255,255,255,.8);
}
/* change the link color */
.navbar-martom .navbar-nav .nav-link {
    color: rgba(255,255,255,.5);
}
/* change the color of active or hovered links */
.navbar-martom .nav-item.active .nav-link,
.navbar-martom .nav-item:hover .nav-link {
    color: #ffffff;
}

.btn.btn-square {
    border-radius: 0;
}

.navbar-brand,
.navbar-nav li a {
    line-height: 71px;
    height: 71px;
    padding-top: 0;
}